mat-form-field {
  max-width: 800px;
  width: 700px;
  padding-top: 20px;
}

h1 {
  font-family: Lato;
  color: rgb(3, 3, 3);
}

.example-container {
  display: flex;
  flex-direction: column;
  border: 5px black solid;
  max-width: 1000px;
  text-align: center;
  overflow: auto;
  max-height: 680px;
}

button {
  background-color: rgb(134, 123, 123);
  height: 30px;
  width: 30%;
  margin: 0 auto;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}