.content-wrapper {
  max-width: 1000px;
  margin-left: 180px;

  .container {
    width: 100%;
  }

  .search {
    min-width: 200px;
    width: 100%;

    @media (min-width: 600px) {

      min-width: 300px;
    }

    @media (min-width: 800px) {
      min-width: 400px;
    }
  }
}

img {
  width: 60px;
  height: 90px;
}

mat-header-cell {
  max-width: 800px;
  border: 4px solid white;
}

mat-cell {
  max-width: 1000px;
  border: 4px solid white;
}

.mdc-data-table__cell.description {
  box-sizing: border-box;
  overflow-x: scroll;
  text-align: left;
}

.add-product {
  margin-top: 30px;
  margin-bottom: 20px;
  ;
  background-color: cadetblue;
}