.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
}

.container {
  border: 5px solid rgb(145, 143, 143);
  padding: 10px;
  margin-top: 20px;
  max-width: 800px;
  width: 100%;
  overflow: auto;
}

.item {
  border: 5px solid rgb(145, 143, 143);
  padding: 10px;
  margin-bottom: 16px;
  max-width: 800px;
  width: 100%;
}

mat-card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.product-image {
  width: 200px;
  height: 200px;
}

.container h1 {
  text-align: center;
  text-decoration-line: underline;
  font-family: 'Times New Roman', Times, serif;
}

.order-summary-card {
  width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-summary-card h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.order-total {
  color: rgb(238, 112, 10);
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}