.container-fluid {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  height: 300px;
}

.card-body {
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px;
}