<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <mat-card class="card shadow">
        <mat-card-content class="card-body">
          <form>
            <div class="mb-3">
              <h2>Forgot password</h2>
            </div>
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" [(ngModel)]="email">
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="forgotPassword()">Send Link</button>
            <br>
            <br>
            <div class="row mt-3">
              <div class="col-md-6">
                <a routerLink="/auth" style="text-decoration: none;">Back to <span class="text-danger">Login</span></a>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>