  .category-table {
    width: 800px;
    margin-top: 20px;
  }

  .mat-cell,
  .mat-header-cell {
    padding-top: 18px;
    text-align: left;
  }

  .url-column {
    max-width: 850px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .add-category {
    margin-top: 10px;
    background-color: rgb(6, 169, 233);
  }

  mat-paginator {
    background-image: linear-gradient(rgb(237, 236, 245), rgb(228, 249, 250));
  }